header{
    background-image: url(../../../img/background_pear.jpg);
}

nav a:hover{
    background-color : #CAD540;
    color: black;
}

nav a.active{
    background-color : #CAD540;
    color: black;
}
