@media (hover: hover) and (pointer: fine) {
    header{
        background-image: url(../../../img/fruits/stonefruit/BackgroundPlum.jpg);
    }
}

.navbar a:hover{
    background-color : #8999CD;
}

.navbar a.active{
    background-color : #8999CD;
}
