@media (hover: hover) and (pointer: fine) {
    header{
        background-image: url(../../../img/fruits/strawberry/BackgroundStrawberry.jpeg);
    }
}

.navbar a:hover{
    background-color : #FE2E2E;
}

.navbar a.active{
    background-color : #FE2E2E;
}
