.card-container {
    width: 100%;
    height: 320px;
}

.card-container .card-element{
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #d9d9d9;
    font-size: small;
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px;
    position: relative;
}

.card-element .card-element-text {
    display: none;
}

.card-element:hover > .card-element-text {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: x-large;
}

.card-element:hover >.card-element-text > p {
    display: block;
    position: absolute;
    top: 1%;
    bottom: 3%;
    left: 3%;
    color: white;
}

.card-element img {
    max-width: 300px;
}

.card-element:hover{
    background-color: white;
}
