nav {
    background-color: #f2f2f2;
    z-index: 1;
    display: block;
}

nav ul {
    list-style: none;
    background-color: #f2f2f2;
    text-align: center;
    padding: 0;
    margin: 0;
    z-index: 1;
}

nav li {
    font-family: montserrat, sans-serif;
    font-size: 10pt;
    line-height: 40px;
    text-align: left;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 15px;
    transition: .3s;
    background-color: #f2f2f2;
    z-index: 1;
}

nav a:hover {
    background-color: #f2f2f2;
    color: white;
    z-index: 1;
}

nav a.active {
    background-color: #f2f2f2;
    color: #fff;
    cursor: default;
    z-index: 1;
}

nav li li {
    font-size: 10pt;
    z-index: 1;
}

nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 10pt;
    display: inline-block;
    margin-right: -4px;
    z-index: 1;
}

nav > ul > li {
    text-align: center;
    z-index: 1;
}

nav > ul > li > a {
    padding-left: 0;
    z-index: 1;
}

nav li ul {
    position: absolute;
    display: none;
    width: inherit;
    z-index: 1;
}

@media (hover: hover) and (pointer: fine) {
    nav li:hover ul {
        display: block;
        z-index: 1;
    }
}

@media (pointer: coarse) {
    nav li ul {
        display: none;
        z-index: 1;
    }
}

nav li ul li {
    display: block;
    z-index: 1;
}
