@import "components/navbar.css";
@import "elements/footer/imprint.css";

html{
    overflow: hidden;
}

body {
    margin: 0;
    font-size: 20px;
    font-family: HelveticaNeueW01-55Roma, HelveticaNeueW02-55Roma, HelveticaNeueW10-55Roma, "Helvetica Neue", Helvetica, Arial, Meiryo, "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

.content-scroll{
    height: 760px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: -1;
}


.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

.header {
    padding: 2px;
    text-align: center;
}

.content {
    z-index: -1;
    display: block;
    width: 1000px;
    margin: auto;
    padding: 16px;
    font-family: HelveticaNeueW01-55Roma, HelveticaNeueW02-55Roma, HelveticaNeueW10-55Roma, "Helvetica Neue", Helvetica, Arial, Meiryo, "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}
